<!-- {% extends 'base.html' %} -->

{% block content %}
<div class="container">
    <h1>Admin Dashboard</h1>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <a href="" class="btn btn-primary">Manage Students</a>
        </div>
        <div class="col-md-4">
            <a href="" class="btn btn-primary">Manage Library Records</a>
        </div>
        <div class="col-md-4">
            <a href="" class="btn btn-primary">Manage Fees</a>
        </div>
        <div class="col-md-4">
            <a href="" class="btn btn-primary">Create Office Staff / Librarian</a>
        </div>
    </div>
</div>
{% endblock %}
