<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="username">Username:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="form-group">
                <label for="User_Type">User_Type:</label>
                {{ form.user_type }}
                {{ form.user_type.errors }}
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
